{% extends "base.html.twig" %}


{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}


{% block title %}
    Page de Stages
{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('header') }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}


{% block javascripts %}{% endblock %}


{% block header %}
    {{ include('header.html.twig')}}
{% endblock %}


{% block body %}
    <main>
        <div name="Container Bulle Offre" class="bulle-offre-container">
            {# foreach offre in offres && offre<24h(recent) → afficher les info de offre #}

            {% for offre in 0..1 %}
                <div name="Bulle Offre" class="bulle-offre-item">
                    Lorem Impsum
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}


{% block footer %}
    {{ include('footer.html.twig')}}
{% endblock %}

