<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Stages</title>
    {{ encore_entry_link_tags('home') }}
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="header-container">
            <button class="mobile-nav-button">
                <img src="{{ asset('build/images/icon_burger_menu.png')}}" alt="Menu">
            </button>
            <div class="header-title">Accueil</div>
            <button class="mobile-nav-button">
                <img src="{{ asset('build/images/icon_notification.png')}}" alt="Notification">
            </button>
        </div>
    </header>

    <main>
        <div class="main-container">
            <h1>Bienvenue sur la page de stages</h1>
            <p>Découvrez les meilleures opportunités de stages pour votre carrière.</p>
            <button class="main-button">Voir les offres de stages</button>
        </div>
    </main>

    <!-- MOBILE NAVIGATION -->
    <nav class="mobile-nav">
        <div class="mobile-nav-container">
            <button class="mobile-nav-button">
                <img src="{{ asset('build/images/Home_sans.png')}}" alt="Home">            

            </button>
            <button class="mobile-nav-button">
                <img src="{{ asset('build/images/icon_coeur.png')}}" alt="Whishlist">
            </button>
            <button class="mobile-nav-button">
                <img src="{{ asset('build/images/icon_loupe.png')}}" alt="Recherche">
            </button>
        </div>
    </nav>
</body>
</html>
